## Import Liberaries

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
cast = pd.read_csv("G:/study_vidya/LetsUPgrade/1_AI_ML_Course/Daywise_notes/Day_16_17/cast.csv") 
titles = pd.read_csv("G:/study_vidya/LetsUPgrade/1_AI_ML_Course/Daywise_notes/Day_16_17/titles.csv")

In [11]:
print(titles.columns)
print(cast.columns)

Index(['title', 'year'], dtype='object')
Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')
Index(['title', 'year', 'country', 'date'], dtype='object')

In [4]:
print("shape of title dataset:- ",titles.shape)
print("shape of cast dataset:- ",cast.shape)

shape of title dataset:-  (244914, 2)
shape of cast dataset:-  (3786176, 6)

In [6]:
print("titles")
print(titles.describe())
print("cast")
print(cast.describe())
print("release")
print(release_dates.describe())

titles
                year
count  244914.000000
mean     1986.616012
std        29.459912
min      1894.000000
25%      1967.000000
50%      1997.000000
75%      2012.000000
max      2115.000000
cast
               year             n
count  3.786176e+06  2.327603e+06
mean   1.988911e+03  1.690599e+01
std    2.789225e+01  3.170679e+01
min    1.894000e+03  1.000000e+00
25%    1.970000e+03  5.000000e+00
50%    2.001000e+03  1.000000e+01
75%    2.012000e+03  2.100000e+01
max    2.115000e+03  3.361300e+04
release
                year
count  479488.000000
mean     1986.524783
std        28.015756
min      1894.000000
25%      1966.000000
50%      1998.000000
75%      2010.000000
max      2115.000000

In [7]:
print("titles")
print(titles.head())
print("cast")
print(cast.head())
print("release")
print(release_dates.head())

titles
                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008
cast
                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN
release
                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

### How many movies are listed in the titles dataframe?

In [8]:
print(len(titles))

244914

### What are the earliest two films listed in the titles dataframe?

In [10]:
titles.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [12]:
print(len(titles[titles.title=="Hamlet"]))

20

### How many movies are titled "North by Northwest"?

In [13]:
print(len(titles[titles.title=="North by Northwest"]))

1

### When was the first movie titled "Hamlet" made?

In [14]:
titles[titles.title == "Hamlet"].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [19]:
titles[titles.title == "Treasure Island"].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [20]:
len(titles[titles.year== 1950])

1113

### How many movies were made in the year 1960?

In [21]:

len(titles[titles.year== 1960])

1549

### How many movies were made from 1950 through 1959?

In [15]:
titles[ (titles['year'] >=1950) & (titles['year']<=1959) ].shape[0]

12934

### In what years has a movie titled "Batman" been released?

In [16]:
titles[titles.title=="Batman"]

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

In [17]:
inception = cast[cast.title == 'Inception']
print('Total Number of Roles in Movie Inception:', len(inception))
print('Unique Roles in Movie Inception:', len(inception.character.unique()))

Total Number of Roles in Movie Inception: 78
Unique Roles in Movie Inception: 56

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [18]:
print('Total Number of Roles that are Not ranked in Movie Inception: ',len(inception[inception['n'].isna()]))
print('Unique Roles that are Not ranked in Movie Inception: ', len(inception[inception['n'].isna()].character.unique()))

Total Number of Roles that are Not ranked in Movie Inception:  27
Unique Roles that are Not ranked in Movie Inception:  21

### But how many roles in the movie "Inception" did receive an "n" value?

In [20]:
print('Total Number of Roles that are Not ranked in Movie Inception: ',len(inception[inception['n'].notna()]))
print('Unique Roles that are Not ranked in Movie Inception: ', len(inception[inception['n'].notna()].character.unique()))

Total Number of Roles that are Not ranked in Movie Inception:  51
Unique Roles that are Not ranked in Movie Inception:  36

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [22]:
not_na = cast[cast.title == 'North by Northwest'].sort_values('n')
not_na[not_na['n'].notna()]

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [23]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [24]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort_values('n')

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [25]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1921)].character)

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [26]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1996)].character)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [27]:
len(cast[cast.character == 'Hamlet'])

96

### How many people have played an "Ophelia"?

In [28]:
len(cast[cast.character == 'Ophelia'])

117

### How many people have played a role called "The Dude"?

In [29]:
len(cast[cast.character == 'Dude'])

99

### How many people have played a role called "The Stranger"?

In [30]:
len(cast[cast.character == 'Stranger'])

289

### How many roles has Sidney Poitier played throughout his career?

In [31]:
len(cast[cast.name == 'Sidney Poitier'].character)

43

### How many roles has Judi Dench played?

In [32]:
len(cast[cast.name == 'Judi Dench'].character)

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [33]:
print("Supporting Roles played by Cary Grant in the 1940s :")
carry = cast[(cast.name == 'Cary Grant') & ((cast.year >= 1940) & (cast.year <= 1950)) & (cast.n == 2 )].sort_values('year')
carry[['year','character']]

Supporting Roles played by Cary Grant in the 1940s :

        year    character
871423  1940   Nick Arden
871433  1941  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [36]:
print("Leading Roles played by Cary Grant in the 1940s :")
carry = cast[(cast.name == 'Cary Grant') & ((cast.year >= 1940) & (cast.year < 1950)) & (cast.n == 1 )].sort_values('year')
carry[['year','character']]

Leading Roles played by Cary Grant in the 1940s :

        year                             character
871448  1940                           Matt Howard
871407  1940                          Walter Burns
871450  1940                    C. K. Dexter Haven
871438  1941                      Johnnie Aysgarth
871452  1942                          Leopold Dilg
871429  1942                 Patrick 'Pat' O'Toole
871398  1943                         Capt. Cassidy
871422  1943  Joe Adams -posing as Joe Bascopolous
871430  1944                           Jerry Flynn
871390  1944                     Mortimer Brewster
871425  1944                            Ernie Mott
871424  1946                           Cole Porter
871427  1946                                Devlin
871444  1947                           Dick Nugent
871445  1947                                Dudley
871421  1948                         Jim Blandings
871402  1948                     Dr. Madison Brown
871411  1949                 Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [37]:
len(cast[(cast.type == 'actor') & ((cast.year >= 1950) & (cast.year <= 1960)) ].character)

171302

### How many roles were available for actresses in the 1950s?

In [41]:
len(cast[(cast.type == 'actress') & ((cast.year >= 1950) & (cast.year <= 1960)) ].character)

63333

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [40]:
len(cast[ (cast.n == 1) & (cast.year <= 1980) ].character)

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [39]:
len(cast[ (cast.n > 2) & (cast.year <= 1980) ].character)

607925

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [38]:
len( cast[ (cast['n'].isna() ) & (cast.year <= 1980) ].character )

448347