In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv(r"C:\Users\Shiv\A_LetsUpgrade\Batch_1_Day_7_Assignment\Assignment\general_data.csv")

In [8]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [10]:
df.tail()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [11]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
Age                        4410 non-null int64
Attrition                  4410 non-null object
BusinessTravel             4410 non-null object
Department                 4410 non-null object
DistanceFromHome           4410 non-null int64
Education                  4410 non-null int64
EducationField             4410 non-null object
EmployeeCount              4410 non-null int64
EmployeeID                 4410 non-null int64
Gender                     4410 non-null object
JobLevel                   4410 non-null int64
JobRole                    4410 non-null object
MaritalStatus              4410 non-null object
MonthlyIncome              4410 non-null int64
NumCompaniesWorked         4391 non-null float64
Over18                     4410 non-null object
PercentSalaryHike          4410 non-null int64
StandardHours              4410 non-null int64
StockOptionLevel           4410 non-null int64
TotalWorkingYears          4401 non-null float64
TrainingTimesLastYear      4410 non-null int64
YearsAtCompany             4410 non-null int64
YearsSinceLastPromotion    4410 non-null int64
YearsWithCurrManager       4410 non-null int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

In [15]:
df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [16]:
df.isna().any()

Age                        False
Attrition                  False
BusinessTravel             False
Department                 False
DistanceFromHome           False
Education                  False
EducationField             False
EmployeeCount              False
EmployeeID                 False
Gender                     False
JobLevel                   False
JobRole                    False
MaritalStatus              False
MonthlyIncome              False
NumCompaniesWorked          True
Over18                     False
PercentSalaryHike          False
StandardHours              False
StockOptionLevel           False
TotalWorkingYears           True
TrainingTimesLastYear      False
YearsAtCompany             False
YearsSinceLastPromotion    False
YearsWithCurrManager       False
dtype: bool

In [18]:
df.shape

(4410, 24)

In [26]:
df.dropna(axis=0,inplace=True)

In [28]:
df.shape

(4382, 24)

In [29]:
df.isna().any()

Age                        False
Attrition                  False
BusinessTravel             False
Department                 False
DistanceFromHome           False
Education                  False
EducationField             False
EmployeeCount              False
EmployeeID                 False
Gender                     False
JobLevel                   False
JobRole                    False
MaritalStatus              False
MonthlyIncome              False
NumCompaniesWorked         False
Over18                     False
PercentSalaryHike          False
StandardHours              False
StockOptionLevel           False
TotalWorkingYears          False
TrainingTimesLastYear      False
YearsAtCompany             False
YearsSinceLastPromotion    False
YearsWithCurrManager       False
dtype: bool

In [39]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [40]:
df.shape

(4382, 24)

#### In dataset, No null values.

In [41]:
for i in df.columns:
    if df.dtypes[i]=="object":
        print(i)

Attrition
BusinessTravel
Department
EducationField
Gender
JobRole
MaritalStatus
Over18

###### Label encoder used to convert non-numerical into numerical so we can use:-

In [45]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

###### Dependent variable is Attrition

In [46]:
df["Attrition"] = encoder.fit_transform(df.Attrition)

df['BusinessTravel'] = encoder.fit_transform(df['BusinessTravel'])
df['Department'] = encoder.fit_transform(df['Department'])
df['EducationField'] = encoder.fit_transform(df['EducationField'])
df['Gender'] = encoder.fit_transform(df['Gender'])
df['JobRole'] = encoder.fit_transform(df['JobRole'])
df['MaritalStatus'] = encoder.fit_transform(df['MaritalStatus'])

In [47]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

###### attrition = Yes and no seprate

In [48]:
att_yes = df[df['Attrition']== 1]
att_no = df[df['Attrition']== 0]

In [50]:
att_yes.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,1,1,1,10,1,1,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
6,28,1,2,1,11,2,3,1,7,1,...,2.0,Y,20,8,1,5.0,2,0,0,0
13,47,1,0,1,1,1,3,1,14,1,...,1.0,Y,11,8,2,10.0,4,10,9,9
28,44,1,1,1,1,2,3,1,29,1,...,3.0,Y,14,8,1,19.0,2,1,0,0
30,26,1,2,1,4,3,3,1,31,1,...,2.0,Y,11,8,0,5.0,5,3,0,2

In [51]:
att_no.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
2,32,0,1,1,17,4,4,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,0,2,1,8,3,1,1,6,0,...,3.0,Y,13,8,0,28.0,5,7,7,7

###### This dataset we have 1 dependent categorical variable so we can perform 2 tests
    1) ManWhitney
    2) Chi Square

##### 1) ManWhitney

In [64]:
def manwhitney(stats, p, b):
    print('\nH0 = There is no significant difference between Attrition_yes with',b, 'and Attrition_No with', b)
    print('H1 = There is significant difference between Attrition_yes with',b, 'and Attrition_No with', b, '\n')
    print("stats =",stats,",", 'P =', p,'\n')
    if p < 0.05:
        print('P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis')
    else:
        print("P-Value >= 0.05 hence H0 Accepted")

In [65]:
from scipy.stats import mannwhitneyu
stats, p = mannwhitneyu(att_yes.Age, att_no.Age)
manwhitney(stats, p, 'Age')

H0 = There is no significant difference between Attrition_yes with Age and Attrition_No with Age
H1 = There is significant difference between Attrition_yes with Age and Attrition_No with Age

stats = 949178.0 , P = 7.98668614365882e-30

P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis

In [71]:
stats, p = mannwhitneyu(att_yes.BusinessTravel, att_no.BusinessTravel)
manwhitney(stats, p, 'BusinessTravel')

H0 = There is no significant difference between Attrition_yes with BusinessTravel and Attrition_No with BusinessTravel
H1 = There is significant difference between Attrition_yes with BusinessTravel and Attrition_No with BusinessTravel

stats = 1249881.0 , P = 0.029614877291203285

P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis

In [72]:
stats, p = mannwhitneyu(att_yes.DistanceFromHome, att_no.DistanceFromHome)
manwhitney(stats, p, 'DistanceFromHome')

H0 = There is no significant difference between Attrition_yes with DistanceFromHome and Attrition_No with DistanceFromHome
H1 = There is significant difference between Attrition_yes with DistanceFromHome and Attrition_No with DistanceFromHome

stats = 1295261.0 , P = 0.488538986087403

P-Value >= 0.05 hence H0 Accepted

In [70]:
stats, p = mannwhitneyu(att_yes.Education, att_no.Education)
manwhitney(stats, p, 'Education')

H0 = There is no significant difference between Attrition_yes with Education and Attrition_No with Education
H1 = There is significant difference between Attrition_yes with Education and Attrition_No with Education

stats = 1258277.0 , P = 0.09888570408770686

P-Value >= 0.05 hence H0 Accepted

In [68]:
stats, p = mannwhitneyu(att_yes.EducationField, att_no.EducationField)
manwhitney(stats, p, 'EducationField')

H0 = There is no significant difference between Attrition_yes with EducationField and Attrition_No with EducationField
H1 = There is significant difference between Attrition_yes with EducationField and Attrition_No with EducationField

stats = 1190200.0 , P = 0.0001380350032352316

P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis

In [73]:
stats, p = mannwhitneyu(att_yes.MonthlyIncome, att_no.MonthlyIncome)
manwhitney(stats, p, 'MonthlyIncome')

H0 = There is no significant difference between Attrition_yes with MonthlyIncome and Attrition_No with MonthlyIncome
H1 = There is significant difference between Attrition_yes with MonthlyIncome and Attrition_No with MonthlyIncome

stats = 1249573.5 , P = 0.06508807631576838

P-Value >= 0.05 hence H0 Accepted

In [75]:
stats, p = mannwhitneyu(att_yes.NumCompaniesWorked, att_no.NumCompaniesWorked)
manwhitney(stats, p, 'NumCompaniesWorked')

H0 = There is no significant difference between Attrition_yes with NumCompaniesWorked and Attrition_No with NumCompaniesWorked
H1 = There is significant difference between Attrition_yes with NumCompaniesWorked and Attrition_No with NumCompaniesWorked

stats = 1238814.5 , P = 0.02793197853866981

P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis

In [76]:
stats, p = mannwhitneyu(att_yes.TrainingTimesLastYear, att_no.TrainingTimesLastYear)
manwhitney(stats, p, 'TrainingTimesLastYear')

H0 = There is no significant difference between Attrition_yes with TrainingTimesLastYear and Attrition_No with TrainingTimesLastYear
H1 = There is significant difference between Attrition_yes with TrainingTimesLastYear and Attrition_No with TrainingTimesLastYear

stats = 1225582.0 , P = 0.008107344081224082

P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis

##### 2) Chi2 Square

In [79]:
def chi2(stats, p, b):
    print('\nHo= There is no dependency betweem Attrition and', b)
    print('H1= There is dependency betweem Attrition and', b, '\n')
    print(chitable,'\n')
    print("stats =",stats, 'P =', p,'\n')
    if p < 0.05:
        print('P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis')
    else:
        print("P-Value >= 0.05 hence H0 Accepted")

In [87]:
from scipy.stats import chi2_contingency
chitable = pd.crosstab(df.Attrition, df.BusinessTravel)
stats, p, dof, expected = chi2_contingency(chitable)
chi2(stats, p, 'BusinessTravel')

Ho= There is no dependency betweem Attrition and BusinessTravel
H1= There is dependency betweem Attrition and BusinessTravel

BusinessTravel    0    1     2
Attrition
0               412  621  2644
1                36  204   465

stats = 70.07594084831366 P = 6.07019702736392e-16

P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis

In [88]:
chitable = pd.crosstab(df.Attrition, df.Department)
stats, p, dof, expected = chi2_contingency(chitable)
chi2(stats, p, 'Department')

Ho= There is no dependency betweem Attrition and Department
H1= There is dependency betweem Attrition and Department

Department    0     1     2
Attrition
0           132  2416  1129
1            55   449   201

stats = 25.89432541916022 P = 2.382970570769315e-06

P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis

In [89]:
chitable = pd.crosstab(df.Attrition, df.JobLevel)
stats, p, dof, expected = chi2_contingency(chitable)
chi2(stats, p, 'JobLevel')

Ho= There is no dependency betweem Attrition and JobLevel
H1= There is dependency betweem Attrition and JobLevel

JobLevel      1     2    3    4    5
Attrition
0          1369  1307  555  267  179
1           250   283   96   51   25

stats = 7.036480574687178 P = 0.13397290697032432

P-Value >= 0.05 hence H0 Accepted

In [90]:
chitable = pd.crosstab(df.Attrition, df.NumCompaniesWorked)
stats, p, dof, expected = chi2_contingency(chitable)
chi2(stats, p, 'NumCompaniesWorked')

Ho= There is no dependency betweem Attrition and NumCompaniesWorked
H1= There is dependency betweem Attrition and NumCompaniesWorked

NumCompaniesWorked  0.0   1.0  2.0  3.0  4.0  5.0  6.0  7.0  8.0  9.0
Attrition
0                   515  1264  390  426  364  141  160  168  129  120
1                    69   292   48   48   49   46   48   51   18   36

stats = 75.85546138415296 P = 1.0708854426925246e-12

P-Value < 0.05 hence H0 rejected, Accepting H1 Hypothesis